<div class="container rounded bg-white mt-5 mb-5">
    <form action="/events" method="POST">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="mt-5"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU">
                    <span class="font-weight-bold">Abbie</span>
                    <span class="text-black-50">g.adekunle@alustudent.com</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Create Event</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">Title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Event title"
                                value="{{formData.title}}">
                        </div>
                        <div class="input-group mb-2 mt-2">
                            <select class="custom-select" id="category" name="category">
                                <option selected>Category</option>
                                 <option value="networking" name="networking">Networking</option>
                                <option value="campus-events" name="campus-events">Campus Events</option>
                                <option value="professional-development" name="professional-development">Professional
                                    Developments</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="status">
                                <option selected>Status</option>
                                <option value="{{formData.status}}">Private</option>
                                <option value="{{formData.status}}">Public</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Description</label>
                            <input type="text" id="description" name="description" class="form-control"
                                placeholder="Description" value="{{formData.description}}">
                        </div>
                        <div class="form-group">
                            <label for="details">Event details</label>
                            <textarea class="form-control" id="details" name="details" value="{{formData.details}}"></textarea>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <input type="submit" value="Create Event" class="btn btn-primary profile-button">
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{#if errors}}
  <div class="alert alert-danger" role="alert">
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</div>