
<div class="height-100">
    <div class="container rounded bg-white mt-5 mb-5">
        <form action="/admin/events" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Create Event</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" id="title" name="title" class="form-control"
                                    placeholder="Event title" value="{{formData.title}}">
                            </div>
                            <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="custom-select" id="category" name="category" value="{{formData.category}}">
                                <option value="networking" name="networking">Networking</option>
                                <option value="campus-events" name="campus-events">Campus Events</option>
                                <option value="professional-development" name="professional-development">
                                    Professional
                                    Developments</option>
                            </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="custom-select" id="status" name="status" value="{{formData.status}}">
                                <option value="private" name="private">Private</option>
                                <option value="public" name="public">Public</option>
                            </select>
                            </div>
                            <div class="mb-3">
                             <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" name="location" class="form-control"
                                placeholder="Event Location" value="{{formData.location}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="eventDate" class="form-label">Date and Time</label>
                                <input type="datetime-local" class="form-control" id="eventDate" name="eventDate"
                                    value="{{formData.eventDate}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="eventImage" class="form-label">Upload Image</label>
                                <input type="file" id="eventImage" name="eventImage" accept="image/*"
                                    value="{{formData.eventImage}}" required>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea id="description" name="description" class="form-control"
                                    placeholder="Description" value="{{formData.description}}" rows="4"></textarea>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="details">Event details</label>
                                <textarea class="form-control" id="details" name="details"
                                    value="{{formData.details}}"></textarea>
                            </div>
                            
                        </div>
                        <div class="mt-5 text-center">
                            <input type="submit" value="Create Event" class="btn btn-primary profile-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="mt-5"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU">
                        <span class="font-weight-bold">Abbie</span>
                        <span class="text-black-50">g.adekunle@alustudent.com</span>
                        <span> </span>
                    </div>
                </div>
            </div>
        </form>
        {{#if errors}}
        <div class="alert alert-danger" role="alert">
            <ul>
                {{#each errors}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>