<div class="container mt-5">
    <h2>Edit User</h2>

    {{#if user}}
      <form action="/admin/users/update/{{user._id}}" method="POST">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.firstName}}" required>
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" value="{{user.lastName}}" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
        </div>

        <input type="hidden" name="_method" value="PUT">
        <button type="submit" class="btn btn-primary">Update User</button>
      </form>
    {{else}}
      <p>User not found</p>
    {{/if}}
  </div>
